// Colors
$background-main: #b9ff5e;
$background-secondary: #ecdbf0;

$button-main: #70a81c;
$button-active: #8726a0;

$highlight-1: #9e17a8;
$highlight-2: #639419;

// Others

$section-padding: 5rem;
