@import "./variables";
@import "./paceholders";
@import "../App";
@import "../sections/Header/Header";
@import "../sections/Description/Description";
@import "../sections/Layers/Layers";
@import "../sections/Canvas/Canvas";
@import "../sections/ActionButtons/ActionButtons";
@import "../sections/Footer/Footer";
@import "../components/Error/Error";
