* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

html {
  @extend %basic-font;
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  margin: 1rem;
}

p {
  font-size: 1.5rem;
}

main {
  background-color: $background-secondary;
  padding-bottom: $section-padding;
}

@media (max-width: $bp-medium) {
  html {
    font-size: $base-font-size * 0.75;
  }
  //changes to:
  //   Layers
  //   ActionButtons
  //   Canvas
}

@media (max-width: $bp-small) {
  html {
    font-size: $base-font-size * 0.66;
  }

  //changes to:
  //   Header
  //   Description
  //   ActionButtons
}
