/* 1) GLOBAL STYLES */
/* 2) HEADER STYLES */
/* 3) MAIN STYLES */
/* 4) DESIGN STYLES */
/* 5) BUTTONS CONTAINER STYLES */
/* 6) FOOTER STYLES */

/* 1) GLOBAL STYLES */

:root {
  --background-main: #b9ff5e;
  --background-secondary: #ecdbf0;
  --button-main: #70a81c;
  --button-active: #8726a0;
  --highlight-1: #9e17a8;
  --highlight-2: #639419;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

html {
  font-size: 18px;
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  margin: 1rem;
}

p {
  font-size: 1.5rem;
}

/* .App > * {
  border: 1px solid red;
} */

/* 2) HEADER STYLES */
header {
  padding-bottom: 10rem;
  background: var(--background-main);
}

nav {
  padding-top: 1rem;
  padding-bottom: 5rem;
  display: flex;
}

.logo {
  font-family: "Gluten";
  font-size: 3rem;
  padding-left: 2rem;
}

.links {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  margin-right: 2rem;
}

.links a {
  text-decoration: none;
  font-size: 1.5rem;
  color: inherit;
  margin: auto 1rem;
}
a[href="#contact"] {
  z-index: 1;
  font-weight: 700;
  background-color: var(--highlight-1);
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}

h1 {
  font-size: 4rem;
  padding-bottom: 5rem;
  color: var(--highlight-1);
}

.text {
  width: 60%;
  margin: 0 auto;
}

/* 3) MAIN STYLES */
main {
  background-color: var(--background-secondary);
  padding-bottom: 5rem;
}

.discription {
  padding: 7rem 0 10rem;
}

h2 {
  font-size: 3rem;
  padding-bottom: 3rem;
  color: var(--highlight-2);
}

.layers-selection-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.layer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  margin: 1rem 2%;
  white-space: nowrap;
}

.btn {
  padding: 0.25rem 0rem;
  margin-bottom: 0.5rem;
  background: var(--button-main);
  font-size: 1rem;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 8px -1px #000000;
  cursor: pointer;
  transition: transform 250ms ease-out;
  border: none;
}

.item {
  display: flex;
  justify-content: center;
  width: 100%;
}

.btn:hover {
  z-index: 2;
  transform: scale(1.05);
}

.active {
  background: var(--button-active);
  font-weight: 700;
}

/* 4) DESIGN STYLES */

.canvas-container {
  width: 100%;
  height: 70vh;
  position: relative;
}
.img-container {
  width: 100%;
  height: 100%;

  position: absolute;
}
img {
  max-height: 100%;
  max-width: 100%;
  box-shadow: 3px 3px 12px -5px #000000;
}

/* canvas is hidden to preserve imput but not show it to the user */
.hidden-canvas {
  visibility: hidden;
  z-index: -1;
  position: fixed;
}

/* 5) BUTTONS CONTAINER STYLES */

.action-buttons-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.action-button-container {
  width: 25%;
}
.action-button {
  margin: 0 auto;
  width: 10rem;
  font-weight: 700;
}

.error {
  font-size: 2rem;
  color: red;
  padding-bottom: 4rem;
}

/* 6) FOOTER STYLES */

footer {
  background-color: var(--background-main);
  padding: 3rem 0;
}

@media screen and (max-width: 1100px) {
  html {
    font-size: 14px;
  }

  .layer-container {
    width: 30%;
    margin: 1rem 1%;
    white-space: normal;
  }

  .action-button-container {
    width: 40%;
  }
}

@media screen and (max-width: 430px) {
  html {
    font-size: 12px;
  }

  .logo {
    display: none;
  }

  .action-button-container {
    width: 50%;
  }
}
